body {
  font-family: "Verdana", "Tahoma", sans-serif;
  margin: 0;
  color: white;
}

.wrapper {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  background-image: linear-gradient(to bottom right, #0f0c29, #302b63, #24243e);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(235, 229, 229);
  border-radius: 10px; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(178, 168, 168);
  border-radius: 10px; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(205, 193, 193); 
}