body {
  font-family: "Verdana", "Tahoma", sans-serif;
  margin: 0;
  color: white;
}

.wrapper {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  background-image: linear-gradient(to bottom right, #0f0c29, #302b63, #24243e);
}

.nav {
  color: white;
  background-color: rgba(0,0,0,0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 2rem 8rem;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.site-name {
  color: inherit;
  text-decoration: none;
  font-size: 26px;
}

.site-name:hover {
  color: rgb(209, 203, 203);
}

.nav-page {
  color: inherit;
  text-decoration: none;
  color: rgb(209, 203, 203);
}

.nav-page:hover {
  color: white;
}

.nav-button {
  color: #1d1160;
  background-color: #E6E6FA;
  padding: 10px;
  font-size: 18px;
  text-align: center;
  border: none;
  border-radius: 8px;
}

.nav-button:hover {
  background-color: #cccced;
}

.site-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem 0;
}

.site-description h1 {
  font-size: 60px;
}

.site-description h3 {
  font-size: 22px;
}

.carousel,
.carousel-container,
.carousel-container ul,
.protocol-info,
.protocol-info-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel {
  height: 20rem;
}

.carousel-container {
  background-color: blue;
  width: 75%;
  height: 75%;
}

.carousel-container ul {
  flex-direction: row;
  gap: 10rem;
}

.protocol-info {
  margin-top: 10rem;
  height: 40rem;
}

.protocol-info-container {
  width: 75%;
  height: 80%;
}

.client-testimonials {
  height: 100%;
  width: 50%;
  margin-right: 15px;
}

.client-testimonial {
  background-color: #372697;
  padding: 20px;
  border-style: double;
  border-radius: 35px;
  border-color: white;
  margin-bottom: 2rem;
}

.protocol-metrics {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  margin-left: 15px;
}

.protocol-metric-number {
  background-image: linear-gradient(to right, #997be1, #e7afd8);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 30px;
  font-weight: bold;
  margin-top: 25px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(85, 74, 74);
  border-radius: 10px; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(178, 168, 168);
  border-radius: 10px; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(205, 193, 193); 
}